body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

div.statuses {
  display: flex;
}

.data {
  text-align: left;
}

.data ul {
  padding: 0;
  width: 500px;
}

.data ul li {
  list-style-type: none;
}
li.old {
  background-color: 'rgba(255,0,0,0.5)';
}
li.stale {
  background-color: 'rgba(100,5,5,0.5)';
}
li.ok {
  background-color: 'rgba(0,255,0,0.5)';
}
